/Armor$ArmorType.class
/Armor.class
/Aura$Strenght.class
/Aura.class
/Character.class
/Class$NPC.class
/Class$PC.class
/Class.class
/Condition.class
/Creature$Anatomy.class
/Creature$Hand.class
/Creature$SavingThrow.class
/Creature$Slot.class
/Creature.class
/Defense.class
/Deity.class
/Domain.class
/Encumbrance.class
/Feat$Benefit$armorProficentcy.class
/Feat$Benefit$skillsPlus2.class
/Feat$Benefit.class
/Feat.class
/Genorator.class
/Item$Condition.class
/Item.class
/Junk$meh.class
/Junk.class
/Material.class
/Name$Alignment.class
/Name$Class.class
/Name.class
/Race.class
/Roll.class
/Sense.class
/Sheild$SheildType.class
/Sheild.class
/Size.class
/Skill$craft.class
/Skill$knowledge.class
/Skill$profession.class
/Skill.class
/Special$Attack.class
/Special$Quality$Regeneration.class
/Special$Quality.class
/Special.class
/Stat.class
/Subtype.class
/Type.class
/Weapon.class
/Alignment.class
